@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

/*
If project-title-input.jsx is part of a menu bar say menu-bar.jsx, it can have additional css classes that
can set a width for example or what it should do in a flex box (eg. grow).
*/

.title-field {
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: $form-radius;
    -webkit-border-radius: $form-radius;
    -moz-border-radius: $form-radius;
    background-color: transparent;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    box-sizing: border-box;
    height: calc(0.8rem + 1rem + 2px);
    line-height: 1;
    padding: .5rem;
    field-sizing: content;
    width: auto;
    min-width: 4.5rem;
    max-width: $menu-bar-item-max-width;
}

.title-field {
    color: white;
    font-weight: bold;
    font-size: .8rem;
}

.title-field::placeholder {
    color: rgba(255, 255, 255, 0.55);
    font-weight: normal;
    font-size: .8rem;
    font-style: italic;
}

.title-field:hover {
    background-color: $ui-black-transparent;
}

.title-field:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.85);
    box-shadow: none;
    background-color: $ui-white;
    color: $text-primary;
}

.title-field:focus::placeholder {
    color: $text-primary-transparent;
}
