.about_window {
    min-width: 800px;
}

.about_window_content_raw {
    margin: 0.75rem 0;
}

.about_window_content_column {
    display: inline-block;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    min-width: 12.5rem;
    vertical-align: top;
    color: #000;
}

.about_window_value_column {
    display: inline-block;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    min-width: 19.375rem;
    max-width: 32.5rem;
    overflow-wrap: anywhere;
    word-break: break-word;
    vertical-align: top;
    color: #000;
}
