@import "../css/units.css";
@import "../css/z-index.css";

.draggable_window {
    z-index: $z-index-robbo-popup;
    pointer-events: auto;
    border-radius: calc($form-radius + 4px);
    overflow: hidden;
    transform-origin: top left;
}
