@import "../css/colors.css";

.robbo_gui{

    width:100%;


}

.alert{

  overflow:scroll;
  width: 183px;

}

.alert::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    background-color: rgb(21, 21, 21);
}

.alert::-webkit-scrollbar-corner {
    background-color: rgb(21, 21, 21);
}

.alert::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

.version{


      font-size: 10pt;
      font-weight: bold;
      margin-left: 20px;
      margin-top: 20px;
      position:absolute;
      top:1px;
      right:10px;

      z-index: 500;

      color:white;
}
