@import "../css/z-index.css";

.sensor_choose_window {
  z-index: $z-index-robbo-popup;
  transform-origin: top left;
  pointer-events: auto;
  width: 14.4rem;
  max-width: 96vw;
}

.sensor_choose_window_components_block {
    width: 100%;
}
